@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Nunito Sans',sans-serif;

}
.logo-text {
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}
.nav-link {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-link:hover {
    color: #f05136;

}
header div p {
    font-size: 2.5em;
    font-weight: 200;
}
h1,
h2,
h3,
h4 {
    font-weight: 800;
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 1.8em;
}
.link-button {
    text-decoration: name;

}